{% block head %}

{% load static %}


<!DOCTYPE html>
<html dir="ltr" lang="en-US"><head><!-- Created by Artisteer v4.3.0.60745 -->
    <meta charset="utf-8">
    <title>LA KALETA ESTUDIO</title>
    <meta name="viewport" content="initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

 <link rel="stylesheet" href="{% static 'style.responsive.css' %}">
    <!--[if lt IE 9]><script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'style.css'%}" media="screen">
    <!--[if lte IE 7]><link rel="stylesheet" href="{% static 'style.ie7.css'%}" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Didact+Gothic|Khmer&amp;subset=latin">
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'script.js'%}"></script>
    <script src="{% static 'script.responsive.js'%}"></script>

<meta name="description" content="LA KALETA ESTUDIO
HIP HOP, TRAP">
<meta name="keywords" content="la kaleta estudio
hip hop
trap
vigo
galicia
colombia">


<style>.art-content .art-postcontent-0 .layout-item-0 { padding-right: 10px;padding-left: 10px;  }
.ie7 .art-post .art-layout-cell {border:none !important; padding:0 !important; }
.ie6 .art-post .art-layout-cell {border:none !important; padding:0 !important; }

</style></head>
{% endblock %}
{% block body %}
<body>
<div id="art-main">
<header class="art-header">

    <div class="art-shapes">
        <div class="art-object47416170"></div>

    </div>
<div id="google_translate_element" style="float: right"></div><script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'es', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-129122061-2'}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<h1 class="art-headline">
    <a href="/">La Kaleta</a>
</h1>







</header>

<div class="art-sheet clearfix">
<nav class="art-nav">
    <ul class="art-hmenu">
        <li><a href="{% url 'Index' %}" >Home</a></li>
        <li><a href="{% url 'Escucha' %}">Escucha</a></li>
        <li><a href="{% url 'Mixtapes' %}">Mixtapes</a></li>
        <li><a href="{% url 'Blog' %}">Blog</a></li>
        <li><a href="{% url 'shop' %}">Tienda</a> </li>


    </ul>

</nav>
<div class="art-layout-wrapper">
                <div class="art-content-layout">
                    <div class="art-content-layout-row">
                        <div class="art-layout-cell art-sidebar1">

                            <div class="art-vmenublock clearfix">
                                    <div class="art-vmenublockcontent">

                                        <ul class="art-vmenu">
        <li><a href="{% url 'Index' %}">Home</a></li>
        <li><a href="{% url 'Escucha' %}">Escucha</a></li>
        <li><a href="{% url 'Mixtapes' %}">Mixtapes</a></li>
        <li><a href="{% url 'Blog' %}">Blog</a></li>
        <li><a href="{% url 'shop' %}">Tienda</a> </li>
                                        </ul>
                                    </div>
                            </div>

                            <div class="art-block clearfix">
                                <div class="art-blockheader">
            <h3 class="t">LINKS</h3>
        </div>
                                        <div class="art-blockcontent"><ul>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://bbbgang.com" target="_blank">bbbgang.com</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://ikkisports.com" target="_blank">ikkisports.com</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://galizarte.es" target="_blank">galizarte.es</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://maskdumorte.com" target="_blank">maskdumorte.com</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://playdagame.com" target="_blank">playdagame.com</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://phonehit.xyz" target="_blank">phonehit.xyz</a></span></li>
            <li><span style="font-size: 13px; line-height: normal;"><a href="http://jokersoftware.info" target="_blank">jokersoftware.info</a></span></li></ul><p>

</p>
                                        </div>
                            </div>

                            <div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Ads</h3>
        </div>
        <div class="art-blockcontent">
            
<iframe src="" style="width: 100%;height: 200px;"></iframe>

        </div>
</div>
<div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Ads</h3>
        </div>
        <div class="art-blockcontent">
            
<iframe src="" style="width: 100%;height: 200px;"></iframe>

        </div>
</div>



<div class="art-block clearfix">
        <div class="art-blockheader">
            <h3 class="t">Ads</h3>
        </div>
        <div class="art-blockcontent">
            
<iframe src="" style="width: 100%;height: 200px;"></iframe>

        </div>
</div>
                        </div>


                            {% block content %}
        <div class="art-layout-cell art-content"><article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader">Home</h2>
                                    </div>

                <div class="art-postcontent art-postcontent-0 clearfix"><div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h2 style="text-align: left;">Bienvenidos</h2><p style="text-align: left;"><span style="color: #FEE66C;">Al portal web de</span> <span style="color: rgb(255, 255, 255); font-size: 18px; font-weight: bold;">LA KALETA ESTUDIO</span></p><p style="text-align: left;"><span style="color: #FFE66B;">Echad un vistazo a lo que se trama en el underground de Vigo.</span></p><p style="text-align: left;"><span style="color: #FFE66B;">Escucha y descarga tracks y mixtapes. Sigue nuestro blog dia a dia.</span></p>
   <p><a href="https://www.facebook.com/Lakaletaestud" target="_blank" class="art-facebook-tag-icon" style="line-height: 32px; "></a></p>

    </div>


</div></div>


<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h2>MENCIONES</h2><ul>

        {% for n in ment %}
            <li style="display: inline;"><a href="{{ n.get_absolute_url }}">{{ n.name }}</a></li>
        {% endfor %}


    </ul>
    </div>
    </div>
</div>
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h2>NOTICIAS</h2>
            {% for n in  noticias %}
                <h3>DATE: {{ n.date }}</h3>
                <h5>{{ n.titular }}</h5>
                <p>{{ n.cuerpo }}</p>
            {% endfor %}
    </div>
    </div>
</div>



<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h2>VIDEO</h2><br>
        <a href="{% url 'Videos' %}">Ver todos los videos</a><br>

        {% load embed_video_tags %}
        {% for n in  ultimos_v%}
        <div id="video" style="width: 100%;height: 320px">


                    <h5>{{ n.titulo }}</h5>
                    {% video n.link '480x320' %}

        </div><br>
        {% endfor %}
    </div>
    </div>
</div>


<br>


{%block ads%}
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h4>PUBLICIDAD</h4><br>
        <iframe src="" width="100%"></iframe>

    </div>
    </div>
</div>

{%endblock%}
</div>


</article>


</div>{% endblock %}
                    </div>
                </div>
            </div>



{% block footer%}

    <footer class="art-footer">
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%">
        <p><img width="212" height="292" alt="" class="art-lightbox" src="{% static 'images/JOKPIE.png' %}"><br></p>
        <p>Copyright © 2017. All Rights Reserved.</p>
    </div>
    </div>
<script src="{% static 'minicart.js' %}"></script>
<script>
    paypal.minicart.render({
      parent: document.getElementById("shopping-cart")
    });
    paypal.minicart.view.show();
    paypal.minicart.cart.on('remove', function() {
      paypal.minicart.view.show();
    });
    </script>
</footer>
{% endblock %}
</div></div>
{% endblock %}