{% extends 'index.html' %}
{% block content %}
<div class="art-layout-cell art-content">
<article class="art-post art-article">
                                <div class="art-postmetadataheader">
                                        <h2 class="art-postheader">Producto</h2>
                                    </div>

                <div class="art-postcontent art-postcontent-0 clearfix">

<br><center>
                	<h4>{{product.name}}</h4>
                	<img src="{{product.image.url}}" width="350px" height="350px">
                	<pre>{{product.description}}</pre>
                     <p style="color:#F0B105">PVP:  {{ product.unit_price }} EUR</p>
                	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="add" value="1" />
        <input type="hidden" name="business" value="iago.otero.84@gmail.com" />
        <input type="hidden" name="item_name" value="{{ product.name }}" />
        <input type="hidden" name="quantity" value="1" />
        <input type="hidden" name="amount" value="{{ product.unit_price }}"/>
        <input type="hidden" name="currency_code" value="EUR" />
        <input type="hidden" name="shipping" value="6.00">
        <input type="submit" name="submit" value="Add to cart" />
    </form>

</center>

                </div>
<br>
{%block ads%}
<div class="art-content-layout">
    <div class="art-content-layout-row">
    <div class="art-layout-cell layout-item-0" style="width: 100%" >
        <h4>PUBLICIDAD</h4><br>
        <iframe src="" width="100%"></iframe>

    </div>
    </div>
</div>
{%endblock%}
</article></div>
{% endblock %}